:root {
  --dark: darkblue;
  --light: whitesmoke;
  --sky: skyblue;
  --pitch: black;
  --sunny: yellow;
  --cyan: cyan;
  --blue: blue;

}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: var(--sky);
}
header {
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
header h1 {
  font-size: 45px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 18px;
  padding-top: 20px;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
header nav ul li {
 display: inline-block;
 padding: 10px;
}
header nav ul li a {
  color: var(--light);
  text-decoration: none;
  font-size: 1.50vw;
}
header nav ul li a:hover {
  color: var(--pitch);
  background-color: var(--sunny);
  text-shadow: none;
  border-radius: 15px;
}
header nav ul li a:focus {
  color: var(--cyan);
}
.me {
  width: 100%;
  margin: 1.5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.work {
  width: 100%;
  height: 1250px;
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact {
  height: 450px;
}
.contact h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.list p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.list ul li {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.list ul li:hover {
  color: var(--blue);
}
.work h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 0px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.gallery {
  height: 900px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.links li a {
  text-decoration: underline;
  color: blue;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modified {
  width: 100%;
  height: 600px;
}
.picture {
  padding-left: 11px;
  width: 311px;
  height: 257px;
}
.info {
  margin: 1.5%;    
}
.me img {
  width: 300px;
  height: 280px;
  padding-right: 30px;
}
.me h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 30px;
  margin-bottom: 25px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.me p {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
  font-size: 16px;
}
.me p:first-letter {
  font-size: 16px;
}
.resume {
  height: 450px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.resume h2 {
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}
.hire {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer div a {
  color:white;
  text-decoration: none;
  text-align: center;
}
footer {
  color: var(--light);
  background-color: var(--dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}
@media screen and (max-width: 768px) {
  .contact {
    margin-bottom: 0px;
    justify-content: center;
    height: 850px;
  }
  .contact h2 {
    margin-top: 15px;
    padding: 0;
  }
  .me {
    flex: 1 20%;
    width: 100%;
    height: 850px;
  }
  .info {
    flex: 1 20%;
    width: 100%;
  }    
  .list ul li {
    font-size: 2.00vw;
    margin: 15px 15px;
  }
  .list p {
    font-size: 16px;
  }
  .resume {
    height: 850px;
  }
}   
@media screen and (max-width: 575px) {
  header {
      justify-content: center;
  }
  header h1 {
      width: 100%;
      text-align: center;
  }
  header nav ul {
      width: 100%;
      justify-content: center;
  }
  header nav ul li a {
      font-size: 3.15vw;
  }
  .list ul li {
      font-size: 3.00vw;
  }
  .picture {
      display: inline-block;
  }
  .me img {
      width: 80%;
      height: 350px;
  }
  .me {
    height: 900px;
  }
} 